config {
    database {
        # currently only mysql and h2 is supported this should be expanded in the future
        type = "h2"
        # Only valid if database is NOT file based otherwise will be ignored
        ip = ""
        # Only valid if the database is NOT file based otherwise will be ignored
        username = ""
        # Only valid if the database is NOT file based otherwise will be ignored
        password = ""
    }
    snowflake {
        # The id of this instance allows all record to be unique
        machine_id = 1;
    }
}